<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>LOG</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />


  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand mr-5" href="index.html">
            <!-- <img src="images/logo.png" alt=""> -->
            <span>
              Alring
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html"> Start </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="service.html"> Log </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Setting</a>
                </li>
              </ul>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <div class="body_bg layout_padding">

    <!-- service section -->

    <section class="service_section ">
      <!--<div class="container">-->
      <div class='left-box'>
        <section class="notice">
        <!--게시판-->
            <!-- board seach area -->
                    <div class="search_box">
											<input type="text" name="search_name" value="" required="" id="stx" class="search_name frm_input" size="15" maxlength="20" placeholder="검색어를 입력하세요" title="검색어를 입력하는 요소">
											<input type="button" value="검색" class="btn_submit btn_submit_" title="검색을 누르는 버튼">
										</div>
									</fieldset>
								</form>
							
           
          <!-- board list area -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">TIME</th>
                <th scope="col">OBJECT</th>
                <th scope="col">ALARM</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>2023.04.22.11:01</td>
                <td>bollard</td>
                <td>3</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>2023.04.22.09:48</td>
                <td>scooter</td>
                <td>3</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2023.04.22.09:16</td>
                <td>scooter</td>
                <td>2</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2023.04.21.11:37</td>
                <td>bicycle</td>
                <td>2</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2023.04.21.11:21</td>
                <td>bicylce</td>
                <td>3</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2023.04.16.10:02</td>
                <td>person</td>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2023.04.16.09:15</td>
                <td>person</td>
                <td>2</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2023.04.16.09:12</td>
                <td>scooter</td>
                <td>3</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2023.04.16.09:01</td>
                <td>bollard</td>
                <td>1</td>
              </tr>
              
            </tbody>
          </table>
        </section>
      </div>
        
      <!--</div>-->
    </section>

  <div class='right-box'>
    <video class="video" controls autoplay loop muted> 
      <source src="js/model1.mp4" type="video/mp4">
    </video>
    
    <div
        id="daumRoughmapContainer1684340401495" 
        class="root_daum_roughmap root_daum_roughmap_landing"
        style="width:100%;">
      </div>
      <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

      <script charset="UTF-8">
        new daum.roughmap.Lander({
          "timestamp" : "1684340401495",
          "key" : "2ett8",
          <!-- "mapWidth" : "640", -->
          "mapHeight" : "360"
        }).render();
      </script>
    <!-- end service section -->

  </div>






 

</body>

</html>